In [1]:
import pandas as pd
import sqlite3
db = sqlite3.connect('claims.db')

In [27]:
# This class creates the table needed
class Table:
    
    def __init__(self, table, search_column, outcomes, columns_on_table ):
        self.table = table #datatype is string
        self.search_column = search_column # dataype is a string
        self.outcomes = outcomes # datatype is a list of strings
        self.columns_on_table = columns_on_table #the columns you want to output on the table
        self.conditions = ''
        self.d = []
        self.p = []
        
        #I'm using a loop to access all the P1-15 and D1-25 since they are indistinguishible 
        for i in range(1, 16):
            self.p.append('P' + str(i))
        for i in range(1, 26):
            self.d.append('D' + str(i))
    
    def long_condition(self,p_d):
        for i in p_d:
            for j in self.outcomes:
                self.conditions += (i)+ ' LIKE (\'' + j + '%\')' + ' OR '
        self.conditions = self.conditions[:-4]

    def final_condition(self):
        if self.search_column in self.p:
            self.conditions =  self.long_condition(self.p);
        elif self.search_column in self.d:
            return  self.long_condition(self.d);
        else:
            self.conditions =  (self.search_column + '=' + self.outcomes)
            
        return self.conditions
  
    def new_table(self):
        self.final_condition()
        return pd.read_sql_query('SELECT '  + self.columns_on_table 
                                 + ' FROM ' + self.table
                                 + ' WHERE ' + self.conditions + '',  db )

In [32]:
colon_cancer = Table("medical_headers", 'D2', ['152'], 'patient_id').new_table()

                                          patient_id
0  d73675f4ced179dd89841023520add308ca9506c3b7b68...
1  ae9c79dbb1705869914e49b4672a526f67203608fe4eb4...
2  09948392c93d3cc562836d8cb835d181b2b6cb26c42305...
3  909858918678003375d75b44ecd2bd4eae1450513b0852...
4  70f54de4003d6c4004530eb40b2c8f31a60c18c5c2c2dc...